<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="content">
        <h1 style="text-align: center">Softwar</h1>
        <div id="fps" style="text-align:right"></div>
        <br><br><br>
        <div class="player1"></div>
        <div class="player2"></div>
        <div class="player3"></div>
        <div class="player4"></div>
        <div id="game" style="text-align: center"></div>
    </div>
</body>

</html>